<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img class="main-icon" src="assets/alvis-logo.png" alt=""/>
  <a class="navbar-brand" href="#">Alvis Studio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <app-navbar-dropdown [data]="navbarData.file"></app-navbar-dropdown>
      <app-navbar-dropdown [data]="navbarData.edit"></app-navbar-dropdown>
      <app-navbar-dropdown [data]="navbarData.view"></app-navbar-dropdown>
      <app-navbar-dropdown [data]="navbarData.format"></app-navbar-dropdown>
      <app-navbar-dropdown [data]="navbarData.alignment"></app-navbar-dropdown>
      <app-navbar-dropdown [data]="navbarData.help"></app-navbar-dropdown>
    </ul>
  </div>
</nav>
