<div class="modal" style="display: block" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Save project</h5>
        <button type="button" class="btn-close" (click)="onClose()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Project successfully saved!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="onClose()">OK</button>
      </div>
    </div>
  </div>
</div>
