@import "../node_modules/bootstrap/dist/css/bootstrap.css";

html, body {
  height: 100%;
  margin: 0;
}

.horizontal-line {
  border-top: 1px solid black
}

.vertical-line {
  border-left: 1px solid black
}
