/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

html, body {
  height: 100%;
  margin: 0;
}

.horizontal-line {
  border-top: 1px solid black
}

.vertical-line {
  border-left: 1px solid black
}
